.w100p{
    width: 100%;
}
.h100p{
    height: 100%;
}
.pl20{
    padding-left: 20rpx;
}
.pr20{
    padding-right: 20rpx;
}
.ml20{
    margin-left: 20rpx;
}
.ml100{
    margin-left: 100rpx;
}
.mr20{
    margin-right: 20rpx;
}


uni-button{
    display: inline-block;
}