.w100p {
  width: 100%;
}
.h100p {
  height: 100%;
}
// padding-left
.pl20 {
  padding-left: 20rpx;
}
// padding-right
.pr20 {
  padding-right: 20rpx;
}
// margin-lef
.ml20 {
  margin-left: 20rpx;
}
.ml100 {
  margin-left: 100rpx;
}
// margin-right
.mr20 {
  margin-right: 20rpx;
}
// font-size
.fs40 {
  font-size: 40rpx;
}

